{{> post-info post }}

{{#if loggedIn}}

<form class="comment-form m-3">

    <div class="form-group">

        <textarea name="form-control"></textarea>



    </div>

    <div class="form-group">

        <div>

            <button type="submit">add comment</button>



        </div>

    </div>

</form>

{{/if}}


{{> comments post.comments}}

{{#if loggedIn}}

<script src="/javascript/comment.js"></script>

<script src="/javascript/upvote.js"></script>

{{/if}}